#
# Build options
#

menu "Build options"

config SUSE_KERNEL
	bool
	default y

config CFGNAME
	string "Configuration name"
	default ""
	help
	  The name of the kernel configuration used. The configuration
	  files provided in arch/$ARCH/defconfig.$CFGNAME set the
	  CONFIG_CFGNAME option to $CFGNAME. The configuration name is
	  part of the EXTRAVERSION.

config RELEASE
	string "Release number"
	default "0"
	help
	  The release number of the kernel sources. The configuration
	  files provided in arch/$ARCH/defconfig.$CFGNAME set the
	  CONFIG_RELEASE option to the RPM release number of the
	  kernel source package. The release number of the kernel
	  sources and of all binary kernel packages built from those
	  sources should be the same. The release number is part of
	  the EXTRAVERSION.

endmenu
