menu "S/390 network device drivers"
	depends on NETDEVICES && ARCH_S390

config LCS
	tristate "Lan Channel Station Interface"
	depends on NETDEVICES && (NET_ETHERNET || TR || FDDI)
	help
	   Select this option if you want to use LCS networking  on IBM S/390
  	   or zSeries. This device driver supports Token Ring (IEEE 802.5),
  	   FDDI (IEEE 802.7) and Ethernet. 
	   This option is also available as a module which will be
	   called lcs.ko. If you do not know what it is, it's safe to say "Y".

config CTC
	tristate "CTC device support"
	depends on NETDEVICES
	help
	  Select this option if you want to use channel-to-channel networking
	  on IBM S/390 or zSeries. This device driver supports real CTC
	  coupling using ESCON. It also supports virtual CTCs when running
	  under VM. It will use the channel device configuration if this is
	  available.  This option is also available as a module which will be
	  called ctc.ko.  If you do not know what it is, it's safe to say "Y".

config IUCV
	tristate "IUCV device support (VM only)"
	depends on NETDEVICES
	help
	  Select this option if you want to use inter-user communication
	  vehicle networking under VM or VIF.  This option is also available
	  as a module which will be called iucv.ko. If unsure, say "Y".

config CCWGROUP
 	tristate
 	depends on LCS || CTC
	default m if LCS!=y && CTC!=y
	default y if LCS=y || CTC=y
endmenu
