
menu "LH7A40X Implementations"

config MACH_KEV7A400
	bool "KEV7A400"
	depends on ARCH_LH7A40X
	select ARCH_LH7A400
	help
	  Say Y here if you are using the Sharp KEV7A400 development
	  board.  This hardware is discontinued, so I'd be very
	  suprised if you wanted this option.

config MACH_LPD7A400
	bool "LPD7A400 Card Engine"
	depends on ARCH_LH7A40X
	select ARCH_LH7A400
	select IDE_POLL
	help
	  Say Y here if you are using Logic Product Development's
	  LPD7A400 CardEngine.  For the time being, the LPD7A400 and
	  LPD7A404 options are mutually exclusive.

config MACH_LPD7A404
	bool "LPD7A404 Card Engine"
	depends on ARCH_LH7A40X
	select ARCH_LH7A404
	select IDE_POLL
	help
	  Say Y here if you are using Logic Product Development's
	  LPD7A404 CardEngine. For the time being, the LPD7A400 and
	  LPD7A404 options are mutually exclusive.

config ARCH_LH7A400
	bool

config ARCH_LH7A404
	bool

endmenu
