config IRCOMM
	tristate "IrCOMM protocol"
	depends on IRDA
	help
	  Say Y here if you want to build support for the IrCOMM protocol.  If
	  you want to compile it as a module (you will get ircomm and
	  ircomm-tty), say M here and read <file:Documentation/modules.txt>.
	  IrCOMM implements serial port emulation, and makes it possible to
	  use all existing applications that understands TTY's with an
	  infrared link.  Thus you should be able to use application like PPP,
	  minicom and others.  Enabling this option will create two modules
	  called ircomm and ircomm_tty.

