comment "S/390 block device drivers"
	depends on ARCH_S390

config BLK_DEV_XPRAM
	tristate "XPRAM disk support"
	depends on ARCH_S390
	help
	  Select this option if you want to use your expanded storage on S/390
	  or zSeries as a disk.  This is useful as a _fast_ swap device if you
	  want to access more than 2G of memory when running in 31 bit mode.
	  This option is also available as a module which will be called
	  xpram.  If unsure, say "N".

config DASD
	tristate "Support for DASD devices"
	depends on CCW
	help
	  Enable this option if you want to access DASDs directly utilizing
	  S/390s channel subsystem commands. This is necessary for running
	  natively on a single image or an LPAR.

config DASD_PROFILE
	bool "Profiling support for dasd devices"
	depends on DASD
	help
	  Enable this option if you want to see profiling information
          in /proc/dasd/statistics.

config DASD_ECKD
	tristate "Support for ECKD Disks"
	depends on DASD
	help
	  ECKD devices are the most commonly used devices. You should enable
	  this option unless you are very sure to have no ECKD device.

config DASD_FBA
	tristate "Support for FBA  Disks"
	depends on DASD
	help
	  Select this option to be able to access FBA devices. It is safe to
	  say "Y".

config DASD_DIAG
	tristate "Support for DIAG access to CMS reserved Disks"
	depends on DASD && ARCH_S390X = 'n'
	help
	  Select this option if you want to use CMS reserved Disks under VM
	  with the Diagnose250 command.  If you are not running under VM or
	  unsure what it is, say "N".
