#
# CPU Frequency scaling
#

menu "CPU Frequency scaling"

config CPU_FREQ
	bool "CPU Frequency scaling"
	help
	  Clock scaling allows you to change the clock speed of CPUs on the
	  fly. This is a nice method to save battery power on notebooks,
	  because the lower the clock speed, the less power the CPU consumes.

	  For more information, take a look at linux/Documentation/cpu-freq or
	  at <http://www.brodo.de/cpufreq/>

	  If in doubt, say N.

source "drivers/cpufreq/Kconfig"

config CPU_FREQ_TABLE
       tristate "CPU frequency table helpers"
       depends on CPU_FREQ
       default y
       help
         Many CPUFreq drivers use these helpers, so only say N here if
	 the CPUFreq driver of your choice doesn't need these helpers.

	 If in doubt, say Y.

comment "CPUFreq processor drivers"
       depends on CPU_FREQ

config X86_POWERNOW_K8
	tristate "AMD Opteron/Athlon64 PowerNow!"
	depends on CPU_FREQ_TABLE
	help
	  This adds the CPUFreq driver for mobile AMD Opteron/Athlon64 processors.

	  For details, take a look at linux/Documentation/cpu-freq. 

	  If in doubt, say N.

endmenu
