config DVB_BT8XX
	tristate "Nebula/Pinnacle PCTV PCI cards"
	depends on DVB_CORE && PCI && VIDEO_BT848
	help
	  Support for PCI cards based on the Bt8xx PCI bridge. Examples are
	  the Nebula cards, the Pinnacle PCTV cards, and Twinhan DST cards.

          Since these cards have no MPEG decoder onboard, they transmit
	  only compressed MPEG data over the PCI bus, so you need
	  an external software decoder to watch TV on your computer.

	  Say Y if you own such a device and want to use it.

