
menu "IOP3xx Implementation Options"

choice
	prompt "IOP3xx System Type"
	default ARCH_IQ80310
	depends on ARCH_IOP3XX

config ARCH_IQ80310
	bool "IQ80310"
	help
	  Say Y here if you want to run your kernel on the Intel IQ80310
	  evaluation kit for the IOP310 chipset.

config ARCH_IQ80321
	bool "IQ80321"
	help
	  Say Y here if you want to run your kernel on the Intel IQ80321
	  evaluation kit for the IOP321 chipset.
endchoice

# Which IOP variant are we running?
config ARCH_IOP310
	bool
	default ARCH_IQ80310
	help
	  The IQ80310 uses the IOP310 variant.

config ARCH_IOP321
	bool
	default ARCH_IQ80321
	help
	  The IQ80321 uses the IOP321 variant.

comment "IOP3xx Chipset Features"

config IOP3XX_AAU
	bool "Support Intel IOP3xx Application Accelerator Unit (EXPERIMENTAL)"
	depends on ARCH_IOP3XX && EXPERIMENTAL

config IOP3XX_DMA
	bool "Support Intel IOP3xx DMA (EXPERIMENTAL)"
	depends on ARCH_IOP3XX && EXPERIMENTAL

config IOP3XX_MU
	bool "Support Intel IOP3xx Messaging Unit (EXPERIMENTAL)"
	depends on ARCH_IOP3XX && EXPERIMENTAL

config IOP3XX_PMON
	bool "Support Intel IOP3xx Performance Monitor (EXPERIMENTAL)"
	depends on ARCH_IOP3XX && EXPERIMENTAL

endmenu

