/******************************************************************************
 *                  QLOGIC LINUX SOFTWARE
 *
 * QLogic ISP2x00 device driver for Linux 2.4.x
 * Copyright (C) 2003 Qlogic Corporation
 * (www.qlogic.com)
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 2, or (at your option) any
 * later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 ******************************************************************************/

/*
 * QLogic ISP2x00 Multi-path LUN Support Driver
 */
int	MaxPathsPerDevice = 0;
int	MaxRetriesPerPath = 0;
int	MaxRetriesPerIo = 0;
int	qlFailoverNotifyType = 0;
#if defined(MODULE)
/* insmod qla2100 <options> ql2xopts=<string> */
MODULE_PARM(MaxPathsPerDevice, "i");
MODULE_PARM(MaxRetriesPerPath, "i");
MODULE_PARM(MaxRetriesPerIo, "i");
MODULE_PARM(qlFailoverNotifyType, "i");
#endif
