# ALSA PCMCIA drivers

menu "PCMCIA devices"
	depends on SND!=n && PCMCIA

config SND_VXPOCKET
	tristate "Digigram VXpocket"
	depends on SND && PCMCIA
	help
	  Say 'Y' or 'M' to include support for Digigram VXpocket soundcard.

config SND_VXP440
	tristate "Digigram VXpocket 440"
	depends on SND && PCMCIA
	help
	  Say 'Y' or 'M' to include support for Digigram VXpocket 440 soundcard.

endmenu
