config NOVFS
	tristate "Novell Netware Filesystem support (novfs) (EXPERIMENTAL)"
	depends on INET && EXPERIMENTAL
	help
	  If you say Y here, you will get an experimental Novell Netware
	  filesystem driver.

	  If unsure, say N.
