menu "Hardware Performance Monitoring support"
config PERFMON
	bool "Perfmon2 performance monitoring interface"
	default n
	help
	Enables the perfmon2 interface to access the hardware
	performance counters. See <http://perfmon2.sf.net/> for
	more details.

config PERFMON_DEBUG
	bool "Perfmon debugging"
	default n
	depends on PERFMON
	help
	Enables perfmon debugging support

config PERFMON_DEBUG_FS
	bool "Enable perfmon statistics reporting via debugfs"
	default y
	depends on PERFMON && DEBUG_FS
	help
	Enable collection and reporting of perfmon timing statistics under
	debugfs. This is used for debugging and performance analysis of the
	subsystem. The debugfs filesystem must be mounted.

config PERFMON_FLUSH
	bool "Flush sampling buffer when modified"
	depends on PERFMON
	default n
	help
	On some MIPS models, cache aliasing may cause invalid
	data to be read from the perfmon sampling buffer. Use this option
	to flush the buffer when it is modified to ensure valid data is
	visible at the user level.

config PERFMON_ALIGN
	bool "Align sampling buffer to avoid cache aliasing"
	depends on PERFMON
	default n
	help
	On some MIPS models, cache aliasing may cause invalid
	data to be read from the perfmon sampling buffer. By forcing a bigger
	page alignment (4-page), one can guarantee the buffer virtual address
	will conflict in the cache with the user level mapping of the buffer
	thereby ensuring a consistent view by user programs.

config PERFMON_DEBUG
	bool "Perfmon debugging"
	depends on PERFMON
	default n
	depends on PERFMON
	help
	Enables perfmon debugging support

config PERFMON_MIPS64
	tristate "Support for MIPS64 hardware performance counters"
	depends on PERFMON
	default n
	help
	Enables support for the MIPS64 hardware performance counters"
endmenu
