comment "DVB-S (satellite) frontends"
	depends on DVB_CORE

config DVB_STV0299
	tristate "ST STV0299 based"
	depends on DVB_CORE
	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.

	  Some examples are the Alps BSRU6, the Philips SU1278 and
	  the LG TDQB-S00x.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_CX24110
	tristate "Connexant CX24110 based"
 	depends on DVB_CORE
 	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.
 
 	  If you don't know what tuner module is soldered on your
 	  DVB adapter simply enable all supported frontends, the
 	  right one will get autodetected.

config DVB_GRUNDIG_29504_491
	tristate "Grundig 29504-491 based"
	depends on DVB_CORE
	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

config DVB_MT312
	tristate "Zarlink MT312 based"
	depends on DVB_CORE
	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

config DVB_VES1X93
	tristate "VLSI VES1893 or VES1993 based"
	depends on DVB_CORE
	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

comment "DVB-T (terrestrial) frontends"
	depends on DVB_CORE

config DVB_SP887X
 	tristate "Microtune sp887x based (i.e. Microtune DTF7072)"
	depends on DVB_CORE
	help
 	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  This driver needs a copy of the Avermedia firmware. The version tested
	  is part of the Avermedia DVB-T 1.3.26.3 Application. If the software is
	  installed in Windoze the file will be in the /Program Files/AVerTV DVB-T/
	  directory and is called sc_main.mc. Alternatively it can "extracted" from
	  the install cab files.

   	  Copy this file to '/usr/lib/hotplug/firmware/dvb-fe-sp887x.fw'.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_ALPS_TDLB7
	tristate "Alps TDLB7 based"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  This driver needs a copy of the firmware file from the Haupauge
	  Windoze driver. Copy 'Sc_main.mc' to
	  '/usr/lib/hotplug/firmware/dvb-fe-tdlb7.fw'.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_ALPS_TDMB7
	tristate "Alps TDMB7 based"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_GRUNDIG_29504_401
	tristate "Grundig 29504-401 based"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_TDA1004X
	tristate "Philips TDA10045H/TDA10046H based"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_NXT6000
	tristate "NxtWave Communications NXT6000 based"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_MT352
	tristate "Zarlink MT352 based"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

comment "DVB-C (cable) frontends"
	depends on DVB_CORE

config DVB_ATMEL_AT76C651
	tristate "Atmel AT76C651 based"
	depends on DVB_CORE
        help
 	  A DVB-C tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

config DVB_VES1820
	tristate "VLSI VES1820 based"
	depends on DVB_CORE
	help
 	  A DVB-C tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

comment "Misc. Frontend Modules"
	depends on DVB_CORE

config DVB_TWINHAN_DST
	tristate "Twinhan DST based DVB-S/-T frontend"
	depends on DVB_CORE && DVB_BT8XX
	help
	  Used in such cards as the VP-1020/1030, Twinhan DST,
	  VVmer TV@SAT. Say Y when you want to support frontends
	  using this asic.
