comment "Supported Frontend Modules"
	depends on DVB

config DVB_STV0299
	tristate "STV0299 based DVB-S frontend (QPSK)"
	depends on DVB_CORE
	help
	  The stv0299 by ST is used in many DVB-S tuner modules, 
	  say Y when you want to support frontends based on this 
	  DVB-S demodulator.

	  Some examples are the Alps BSRU6, the Philips SU1278 and
	  the LG TDQB-S00x.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_SP887X
 	tristate "Frontends with sp887x demodulators, e.g. Microtune DTF7072"
 	depends on DVB_CORE
 	help
 	  A DVB-T demodulator driver. Say Y when you want to support the sp887x.
 
 	  If you don't know what tuner module is soldered on your
 	  DVB adapter simply enable all supported frontends, the
 	  right one will get autodetected.

config DVB_ALPS_TDLB7
	tristate "Alps TDLB7 (OFDM)"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  This tuner module needs some microcode located in a file called
	  "Sc_main.mc" in the windows driver. Please pass the module parameter
	  mcfile="/PATH/FILENAME" when loading alps_tdlb7.o.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.


config DVB_ALPS_TDMB7
	tristate "Alps TDMB7 (OFDM)"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

config DVB_ATMEL_AT76C651
	tristate "Atmel AT76C651 (QAM)"
	depends on DVB_CORE
	help
	  The AT76C651 Demodulator is used in some DVB-C SetTopBoxes. Say Y
	  when you see this demodulator chip near your tuner module.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

config DVB_CX24110
	tristate "Frontends with Connexant CX24110 demodulator (QPSK)"
	depends on DVB_CORE
	help
	  The CX24110 Demodulator is used in some DVB-S frontends. 
	  Say Y if you want support for this chip in your kernel.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_GRUNDIG_29504_491
	tristate "Grundig 29504-491 (QPSK)"
	depends on DVB_CORE
	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_GRUNDIG_29504_401
	tristate "Grundig 29504-401 (OFDM)"
	depends on DVB_CORE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_MT312
	tristate "Zarlink MT312 Satellite Channel Decoder (QPSK)"
	depends on DVB_CORE
	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_VES1820
	tristate "Frontends with external VES1820 demodulator (QAM)"
	depends on DVB_CORE
	help
	  The VES1820 Demodulator is used on many DVB-C PCI cards and in some
	  DVB-C SetTopBoxes. Say Y when you see this demodulator chip near your
	  tuner module.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_VES1X93
	tristate "Frontends with VES1893 or VES1993 demodulator (QPSK)"
	depends on DVB_CORE
	help
	  A DVB-S tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your 
	  DVB adapter simply enable all supported frontends, the 
	  right one will get autodetected.

config DVB_TDA1004X
	tristate "Frontends with external TDA1004X demodulators (OFDM)"
	depends on DVB_CORE && !STANDALONE
	help
	  A DVB-T tuner module. Say Y when you want to support this frontend.

	  If you don't know what tuner module is soldered on your
	  DVB adapter simply enable all supported frontends, the
	  right one will get autodetected.

config DVB_TDA1004X_FIRMWARE_FILE
        string "Full pathname of tda1004x.bin firmware file"
        depends on DVB_TDA1004X
        default "/etc/dvb/tda1004x.bin"
        help
          The TDA1004X requires additional firmware in order to function.
          The firmware file can obtained as follows:
            wget http://www.technotrend.de/new/215/TTweb_215a_budget_20_05_2003.zip
            unzip -j TTweb_215a_budget_20_05_2003.zip Software/Oem/PCI/App/ttlcdacc.dll
            mv ttlcdacc.dll /etc/dvb/tda1004x.bin
