#
# Security configuration
#

menu "Security options"

config SECURITY
	bool "Enable different security models"
	help
	  This allows you to choose different security modules to be
	  configured into your kernel.

	  If this option is not selected, the default Linux security
	  model will be used.

	  If you are unsure how to answer this question, answer N.

config SECURITY_NETWORK
	bool "Socket and Networking Security Hooks"
	depends on SECURITY
	help
	  This enables the socket and networking security hooks.
	  If enabled, a security module can use these hooks to
	  implement socket and networking access controls.
	  If you are unsure how to answer this question, answer N.

config SECURITY_CAPABILITIES
	tristate "Default Linux Capabilities"
	depends on SECURITY!=n
	help
	  This enables the "default" Linux capabilities functionality.
	  If you are unsure how to answer this question, answer Y.

config SECURITY_CAPABILITIES_BOOTPARAM
        bool "Capabilities boot parameter"
        depends on SECURITY_CAPABILITIES
        default n
        help
          This option adds a kernel parameter 'capabilities', which allows 
	  Capabilities to be disabled at boot.  If this option is selected, 
	  SECURITY_CAPABILITIES functionality can be disabled with 
	  capabilities=0 on the kernel command line.  The purpose of this 
	  option is to allow a single kernel image to be distributed with 
	  Capabilities built in, but not necessarily enabled.  

	  It is expected that capabilities will be disabled along with also 
	  disabling SELinux (if configured, see SECURITY_SELINUX_BOOTPARAM) 
	  thereby allowing a alternative security policy to be loaded via a 
	  kernel module.  N.B. Any third party security modules loaded in this 
	  manner should compose the functionality of the Capability module 
	  (depend on the commoncap module).

          If you are unsure how to answer this question, answer N.


config SECURITY_ROOTPLUG
	tristate "Root Plug Support"
	depends on USB && SECURITY!=n
	help
	  This is a sample LSM module that should only be used as such.
	  It prevents any programs running with egid == 0 if a specific
	  USB device is not present in the system.

	  See <http://www.linuxjournal.com/article.php?sid=6279> for
	  more information about this module.
	  
	  If you are unsure how to answer this question, answer N.

source security/selinux/Kconfig

endmenu

