config DVB_TTUSB_DEC
	tristate "Technotrend/Hauppauge USB DEC devices"
	depends on DVB_CORE && USB
	select FW_LOADER
	help
	  Support for external USB adapters designed by Technotrend and
	  produced by Hauppauge, shipped under the brand name 'DEC2000-t'
	  and 'DEC3000-s'.

          Even if these devices have a MPEG decoder built in, they transmit
	  only compressed MPEG data over the USB bus, so you need
	  an external software decoder to watch TV on your computer.	  

	  The DEC devices require firmware in order to boot into a mode in
	  which they are slaves to the PC.  See
	  linux/Documentation/dvb/FIRMWARE for details.

	  The firmware can be obtained and put into the default
	  locations as follows:

	    wget http://hauppauge.lightpath.net/de/dec215a.exe
	    unzip -j dec215a.exe Software/Oem/STB/App/Boot/STB_PC_T.bin
	    mv STB_PC_T.bin /usr/lib/hotplug/firmware/dec2000t.bin
	    unzip -j dec215a.exe Software/Oem/STB/App/Boot/STB_PC_S.bin
	    mv STB_PC_S.bin /usr/lib/hotplug/firmware/dec3000s.bin

	  Say Y if you own such a device and want to use it.
