#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

menu "Firmware Drivers"

config EDD
	tristate "BIOS Enhanced Disk Drive calls determine boot disk (EXPERIMENTAL)"
	depends on EXPERIMENTAL
	depends on !IA64
	help
	  Say Y or M here if you want to enable BIOS Enhanced Disk Drive
	  Services real mode BIOS calls to determine which disk
	  BIOS tries boot from.  This information is then exported via sysfs.

	  This option is experimental, but believed to be safe,
	  and most disk controller BIOS vendors do not yet implement this feature.

config EFI_VARS
	tristate "EFI Variable Support via sysfs"
	depends on EFI
	default n
	help
	  If you say Y here, you are able to get EFI (Extensible Firmware
	  Interface) variable information via sysfs.  You may read,
	  write, create, and destroy EFI variables through this interface.

	  Note that using this driver in concert with efibootmgr requires
	  at least test release version 0.5.0-test3 or later, which is
	  available from Matt Domsch's website located at:
	  http://linux.dell.com/efibootmgr/testing/efibootmgr-0.5.0-test3.tar.gz

	  Subsequent efibootmgr releases may be found at:
	  http://linux.dell.com/efibootmgr

endmenu
