#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

menu "Firmware Drivers"

config EDD
	tristate "BIOS Enhanced Disk Drive calls determine boot disk (EXPERIMENTAL)"
	depends on EXPERIMENTAL
	help
	  Say Y or M here if you want to enable BIOS Enhanced Disk Drive
	  Services real mode BIOS calls to determine which disk
	  BIOS tries boot from.  This information is then exported via driverfs.

	  This option is experimental, but believed to be safe,
	  and most disk controller BIOS vendors do not yet implement this feature.

endmenu
