#
# Multimedia device configuration
#

menu "Digital Video Broadcasting Devices"
	depends on NET && INET 

config DVB
	bool "DVB For Linux"
	---help---
	  Support Digital Video Broadcasting hardware.  Enable this if you 
	  own a DVB adapter and want to use it or if you compile Linux for 
	  a digital SetTopBox.

	  API specs and user tools and are available for example from 
	  <http://www.linuxtv.org/>. 

	  Please report problems regarding this driver to the LinuxDVB 
	  mailing list.

	  You might want add the following lines to your /etc/modules.conf:
	  	
	  	alias char-major-250 dvb
	  	alias dvb dvb-ttpci
	  	below dvb-ttpci alps_bsru6 alps_bsrv2 \
	  			grundig_29504-401 grundig_29504-491 \
	  			ves1820

	  If unsure say N.

source "drivers/media/dvb/dvb-core/Kconfig"

source "drivers/media/dvb/frontends/Kconfig"

comment "Supported SAA7146 based PCI Adapters"
	depends on DVB

source "drivers/media/dvb/ttpci/Kconfig"

endmenu

