config USERMODE
	bool
	default y

# XXX: does UM have a mmu/swap?
config MMU
	bool
	default y

config SWAP
	bool
	default y

mainmenu "Linux/Usermode Kernel Configuration"

config ISA
	bool

config SBUS
	bool

config PCI
	bool

config UID16
	bool
	default y

config RWSEM_GENERIC_SPINLOCK
	bool
	default y

config MODE_TT
	bool
	default y

config MODE_SKAS
	bool
	default y

menu "Code maturity level options"

config EXPERIMENTAL
	bool "Prompt for development and/or incomplete code/drivers"

endmenu


menu "General Setup"

config NET
	bool "Networking support"

config SYSVIPC
	bool "System V IPC"

config BSD_PROCESS_ACCT
	bool "BSD Process Accounting"

config SYSCTL
	bool "Sysctl support"

config BINFMT_AOUT
	tristate "Kernel support for a.out binaries"

config BINFMT_ELF
	tristate "Kernel support for ELF binaries"

config BINFMT_MISC
	tristate "Kernel support for MISC binaries"

config HOSTFS
	tristate "Host filesystem"

config MCONSOLE
	bool "Management console"

config MAGIC_SYSRQ
	bool "Magic SysRq key"
	depends on MCONSOLE

config HOST_2G_2G
	bool "2G/2G host address space split"

config UML_SMP
	bool "Symmetric multi-processing support"

config SMP
	bool
	default UML_SMP

config NR_CPUS
	int "Maximum number of CPUs (2-32)"
	depends on SMP
	default "32"

config NEST_LEVEL
	int "Nesting level"
	default "0"

config KERNEL_HALF_GIGS
	int "Kernel address space size (in .5G units)"
	default "1"

config HIGHMEM
	bool "Highmem support"

endmenu


menu "Loadable module support"

config MODULES
	bool "Enable loadable module support"

# MODVERSIONS does not yet work in this architecture
#   bool '  Set version information on all module symbols' CONFIG_MODVERSIONS
config KMOD
	bool "Kernel module loader"
	depends on MODULES

endmenu

source "arch/um/Kconfig_char"

source "arch/um/Kconfig_block"

config NETDEVICES
	bool
	default NET

source "arch/um/Kconfig_net"

source "net/Kconfig"

source "fs/Kconfig"


menu "SCSI support"

config SCSI
	tristate "SCSI support"

# This gives us free_dma, which scsi.c wants.
config GENERIC_ISA_DMA
	bool
	depends on SCSI
	default y

source "arch/um/Kconfig_scsi"

endmenu

source "drivers/md/Kconfig"

source "drivers/mtd/Kconfig"


menu "Kernel hacking"

config DEBUG_SLAB
	bool "Debug memory allocations"

config DEBUGSYM
	bool "Enable kernel debugging symbols"

config PT_PROXY
	bool "Enable ptrace proxy"
	depends on XTERM_CHAN && DEBUGSYM

config GPROF
	bool "Enable gprof support"
	depends on DEBUGSYM

config GCOV
	bool "Enable gcov support"
	depends on DEBUGSYM

endmenu

