
menu "Block Devices"

config BLK_DEV_UBD
	bool "Virtual block device"
	help
        The User-Mode Linux port includes a driver called UBD which will let
        you access arbitrary files on the host computer as block devices.
        Unless you know that you do not need such virtual block devices say
        Y here.

config BLK_DEV_UBD_SYNC
	bool "Always do synchronous disk IO for UBD"
	depends on BLK_DEV_UBD
	help
        Writes to the virtual block device are not immediately written to the 
	host's disk; this may cause problems if, for example, the 
	User-Mode Linux 'Virtual Machine' uses a journalling filesystem and 
	the host computer crashes.

        Synchronous operation (i.e. always writing data to the host's disk
        immediately) is configurable on a per-UBD basis by using a special
        kernel command line option.  Alternatively, you can say Y here to
        turn on synchronous operation by default for all block devices.

        If you're running a journalling file system (like reiserfs, for
        example) in your virtual machine, you will want to say Y here.  If
        you care for the safety of the data in your virtual machine, Y is a
        wise choice too.  In all other cases (for example, if you're just
        playing around with User-Mode Linux) you can choose N.

config BLK_DEV_LOOP
	tristate "Loopback device support"

config BLK_DEV_NBD
	tristate "Network block device support"
	depends on NET

config BLK_DEV_RAM
	tristate "RAM disk support"

config BLK_DEV_RAM_SIZE
	int "Default RAM disk size"
	depends on BLK_DEV_RAM
	default "4096"

config BLK_DEV_INITRD
	bool "Initial RAM disk (initrd) support"
	depends on BLK_DEV_RAM=y

config MMAPPER
	tristate "Example IO memory driver"
	help
        The User-Mode Linux port can provide support for IO Memory
        emulation with this option.  This allows a host file to be
        specified as an I/O region on the kernel command line. That file
        will be mapped into UML's kernel address space where a driver can
        locate it and do whatever it wants with the memory, including
        providing an interface to it for UML processes to use.

        For more information, see
        <http://user-mode-linux.sourceforge.net/iomem.html>.

        If you'd like to be able to provide a simulated IO port space for
        User-Mode Linux processes, say Y.  If unsure, say N.

endmenu

