config 3_LEVEL_PGTABLES
	bool "Three-level pagetables"
	default n
	help
	Three-level pagetables will let UML have more than 4G of physical
	memory.  All the memory that can't be mapped directly will be treated
	as high memory.

