#
# Library configuration
#

menu "Library routines"

config CRC32
	tristate "CRC32 functions"
	help
	  This option is provided for the case where no in-kernel-tree
	  modules require CRC32 functions, but a module built outside the
	  kernel tree does. Such modules that use library CRC32 functions
	  require M here.

#
# Do we need the compression support?
#
config ZLIB_INFLATE
	tristate
	default y if CRAMFS=y || PPP_DEFLATE=y || JFFS2_FS=y || ZISOFS_FS=y || BINFMT_ZFLAT=y || CRYPTO_DEFLATE=y
	default m if CRAMFS=m || PPP_DEFLATE=m || JFFS2_FS=m || ZISOFS_FS=m || BINFMT_ZFLAT=m || CRYPTO_DEFLATE=m

config ZLIB_DEFLATE
	tristate
	default m if PPP_DEFLATE!=y && JFFS2_FS!=y && CRYPTO_DEFLATE!=y && \
		(PPP_DEFLATE=m || JFFS2_FS=m || CRYPTO_DEFLATE=m)
	default y if PPP_DEFLATE=y || JFFS2_FS=y || CRYPTO_DEFLATE=y

endmenu

