config STATISTICS
	bool "Statistics infrastructure"
	depends on DEBUG_FS
	select SGRB
	help
	  The statistics infrastructure provides a debug-fs based user interface
	  for statistics of kernel components, that is, usually device drivers.
	  Statistics are available for components that have been instrumented to
	  feed data into the statistics infrastructure.
	  This feature is useful for performance measurements or performance
	  debugging.
	  If in doubt, say "N".
