config DVB_DIBUSB
	tristate "DiBcom USB DVB-T devices (see help for device list)"
	depends on DVB_CORE && USB
	select FW_LOADER
	select DVB_DIB3000MB
	help
	  Support for USB 1.1 and 2.0 DVB-T devices based on reference designs made by
	  DiBcom (http://www.dibcom.fr).

	  Devices supported by this driver:

	    TwinhanDTV USB-Ter (VP7041)
		TwinhanDTV Magic Box (VP7041e)
	    KWorld V-Stream XPERT DTV - DVB-T USB
	    Hama DVB-T USB-Box
	    DiBcom reference device (non-public)
	    Ultima Electronic/Artec T1 USB TVBOX
	    Compro Videomate DVB-U2000 - DVB-T USB
	    Grandtec DVB-T USB
	    Avermedia AverTV DVBT USB
	    Yakumo DVB-T mobile USB2.0

	  The VP7041 seems to be identical to "CTS Portable" (Chinese
	  Television System).

	  These devices can be understood as budget ones, they "only" deliver
	  (a part of) the MPEG2 transport stream.

	  A firmware is needed to get the device working. See Documentation/dvb/README.dibusb
	  details.

	  Say Y if you own such a device and want to use it. You should build it as
	  a module.

config DVB_DIBUSB_MISDESIGNED_AN2235
	bool "Enable support for some Artec T1 device, which identifies as AN2235"
	depends on DVB_DIBUSB
	help
	  Somehow Artec forgot to program the eeprom for some of their T1 devices. So
	  comes that they identify with the default Vendor and Product ID of the Cypress
	  CY7C64613 (AN2235).

	  Say Y if your Artec device has 0x0574 as Vendor ID and 0x2235 as Product ID.

config DVB_DIBCOM_DEBUG
	bool "Enable extended debug support for DiBcom USB device"
	depends on DVB_DIBUSB
	help
	  Say Y if you want to enable debuging. See modinfo dvb-dibusb for
	  debug level.
