
menu "IOP310 Implementation Options"

config ARCH_IQ80310
	bool "IQ80310"
	depends on ARCH_IOP310
	help
	  Say Y here if you want to run your kernel on the Intel IQ80310
	  evaluation kit for the IOP310 chipset.

comment "IOP310 Chipset Features"

config IOP310_AAU
	bool "Support Intel 80312 Application Accelerator Unit (EXPERIMENTAL)"
	depends on ARCH_IOP310 && EXPERIMENTAL

config IOP310_DMA
	bool "Support Intel 80312 DMA (EXPERIMENTAL)"
	depends on ARCH_IOP310 && EXPERIMENTAL

config IOP310_MU
	bool "Support Intel 80312 Messaging Unit (EXPERIMENTAL)"
	depends on ARCH_IOP310 && EXPERIMENTAL

config IOP310_PMON
	bool "Support Intel 80312 Performance Monitor (EXPERIMENTAL)"
	depends on ARCH_IOP310 && EXPERIMENTAL

endmenu

