menu "MPC5200 Networking Options"
	depends PPC_MPC52xx && NET_ETHERNET

config FEC_MPC52xx
	tristate "FEC Ethernet"
	select CRC32
	---help---
	  This option enables support for the MPC5200's on-chip
	  Fast Ethernet Controller

config FEC_MPC52xx_USE_MDIO
	bool "Use external Ethernet MII PHY"
	select MII
	depends on FEC_MPC52xx != n
	---help---
	  The MPC5200's FEC can connect to the Ethernet either with
	  an external MII PHY chip or 10 Mbps 7-wire interface
	  (Motorola? industry standard).
	  If your board uses an external PHY, say y, else n.

endmenu
