#
# Character device configuration
#

menu "I2C support"

config I2C
	tristate "I2C support"
	---help---
	  I2C (pronounce: I-square-C) is a slow serial bus protocol used in
	  many micro controller applications and developed by Philips.  SMBus,
	  or System Management Bus is a subset of the I2C protocol.  More
	  information is contained in the directory <file:Documentation/i2c/>,
	  especially in the file called "summary" there.

	  Both I2C and SMBus are supported here. You will need this for
	  hardware sensors support, and also for Video For Linux support.
	  Specifically, if you want to use a BT848 based frame grabber/overlay
	  boards under Linux, say Y here and also to "I2C bit-banging
	  interfaces", below.

	  If you want I2C support, you should say Y here and also to the
	  specific driver for your bus adapter(s) below.  If you say Y to
	  "/proc file system" below, you will then get a /proc interface which
	  is documented in <file:Documentation/i2c/proc-interface>.

	  This I2C support is also available as a module.  If you want to
	  compile it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-core.

config I2C_ALGOBIT
	tristate "I2C bit-banging interfaces"
	depends on I2C
	help
	  This allows you to use a range of I2C adapters called bit-banging
	  adapters.  Say Y if you own an I2C adapter belonging to this class
	  and then say Y to the specific driver for you adapter below.

	  This support is also available as a module.  If you want to compile
	  it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-algo-bit.

config I2C_PHILIPSPAR
	tristate "Philips style parallel port adapter"
	depends on I2C_ALGOBIT && PARPORT
	---help---
	  This supports parallel-port I2C adapters made by Philips.  Say Y if
	  you own such an adapter.

	  This driver is also available as a module.  If you want to compile
	  it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-philips-par.

	  Note that if you want support for different parallel port devices,
	  life will be much easier if you compile them all as modules.

config I2C_ELV
	tristate "ELV adapter"
	depends on I2C_ALGOBIT
	help
	  This supports parallel-port I2C adapters called ELV.  Say Y if you
	  own such an adapter.

	  This driver is also available as a module.  If you want to compile
	  it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-elv.

config I2C_VELLEMAN
	tristate "Velleman K9000 adapter"
	depends on I2C_ALGOBIT
	help
	  This supports the Velleman K9000 parallel-port I2C adapter.  Say Y
	  if you own such an adapter.

	  This driver is also available as a module.  If you want to compile
	  it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-velleman.

config SCx200_I2C
	tristate "NatSemi SCx200 I2C using GPIO pins"
	depends on SCx200 && I2C_ALGOBIT
	help
	  Enable the use of two GPIO pins of a SCx200 processor as an I2C bus.

	  If you don't know what to do here, say N.

	  If compiled as a module, it will be called scx200_i2c.

config SCx200_I2C_SCL
	int "GPIO pin used for SCL"
	depends on SCx200_I2C
	default "12"
	help
	  Enter the GPIO pin number used for the SCL signal.  This value can
	  also be specified with a module parameter.

config SCx200_I2C_SDA
	int "GPIO pin used for SDA"
	depends on SCx200_I2C
	default "13"
	help
	  Enter the GPIO pin number used for the SSA signal.  This value can
	  also be specified with a module parameter.

config SCx200_ACB
	tristate "NatSemi SCx200 ACCESS.bus"
	depends on I2C_ALGOBIT!=n && I2C
	help
	  Enable the use of the ACCESS.bus controllers of a SCx200 processor.

	  If you don't know what to do here, say N.

	  If compiled as a module, it will be called scx200_acb.

config I2C_ALGOPCF
	tristate "I2C PCF 8584 interfaces"
	depends on I2C
	help
	  This allows you to use a range of I2C adapters called PCF adapters.
	  Say Y if you own an I2C adapter belonging to this class and then say
	  Y to the specific driver for you adapter below.

	  This support is also available as a module.  If you want to compile
	  it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-algo-pcf.

config I2C_ELEKTOR
	tristate "Elektor ISA card"
	depends on I2C_ALGOPCF
	help
	  This supports the PCF8584 ISA bus I2C adapter.  Say Y if you own
	  such an adapter.

	  This driver is also available as a module.  If you want to compile
	  it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-elektor.

config ITE_I2C_ALGO
	tristate "ITE I2C Algorithm"
	depends on MIPS_ITE8172 && I2C
	help
	  This supports the use of the ITE8172 I2C interface found on some MIPS
	  systems. Say Y if you have one of these. You should also say Y for
	  the ITE I2C peripheral driver support below.

	  This support is also available as a module. If you want to compile
	  it as a module, say M here and read Documentation/modules.txt.
	  The module will be called i2c-algo-ite.

config ITE_I2C_ADAP
	tristate "ITE I2C Adapter"
	depends on ITE_I2C_ALGO
	help
	  This supports the ITE8172 I2C peripheral found on some MIPS
	  systems. Say Y if you have one of these. You should also say Y for
	  the ITE I2C driver algorithm support above.

	  This support is also available as a module. If you want to compile
	  it as a module, say M here and read Documentation/modules.txt.
	  The module will be called i2c-adap-ite.

config I2C_ALGO8XX
	tristate "MPC8xx CPM I2C interface"
	depends on 8xx && I2C

config I2C_RPXLITE
	tristate "Embedded Planet RPX Lite/Classic suppoort"
	depends on (RPXLITE || RPXCLASSIC) && I2C_ALGO8XX

config I2C_IBM_OCP_ALGO
	tristate "IBM on-chip I2C Algorithm"
	depends on IBM_OCP && I2C

config I2C_IBM_OCP_ADAP
	tristate "IBM on-chip I2C Adapter"
	depends on I2C_IBM_OCP_ALGO

config I2C_CHARDEV
	tristate "I2C device interface"
	depends on I2C
	help
	  Say Y here to use i2c-* device files, usually found in the /dev
	  directory on your system.  They make it possible to have user-space
	  programs use the I2C bus.  Information on how to do this is
	  contained in the file <file:Documentation/i2c/dev-interface>.

	  This code is also available as a module.  If you want to compile
	  it as a module, say M here and read
	  <file:Documentation/modules.txt>.
	  The module will be called i2c-dev.

	source drivers/i2c/busses/Kconfig
	source drivers/i2c/chips/Kconfig

endmenu

