config SCSI_QLA4XXX
	tristate "QLogic ISP4XXX host adapter family support"
        depends on PCI && SCSI
	---help---
	This driver supports the QLogic 40xx (ISP4XXX) host adapter family.

config SCSI_QLA4XXX_FAILOVER
	bool "QLogic ISP4xxx Driver-level Failover support"
	depends on SCSI_QLA4XXX
	---help---
	Compile the driver with failover support.  Please review the driver
	documentation for further information on supported hosts and storage
	types.

