#
# PCMCIA SCSI adapter configuration
#

menu "PCMCIA SCSI adapter support"
	depends on SCSI!=n && HOTPLUG && PCMCIA!=n

config SCSI_PCMCIA
	bool "PCMCIA SCSI adapter support"
	help
	  Say Y here if you intend to attach a PCMCIA or CardBus card to your
	  computer which acts as a SCSI host adapter. These are credit card
	  size devices often used with laptops.

	  Note that the answer to this question won't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions PCMCIA SCSI host adapters.

config PCMCIA_AHA152X
	tristate "Adaptec AHA152X PCMCIA support"
	depends on SCSI_PCMCIA && m
	help
	  Say Y here if you intend to attach this type of PCMCIA SCSI host
	  adapter to your computer.

	  This driver is also available as a module called aha152x_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want). If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

config PCMCIA_FDOMAIN
	tristate "Future Domain PCMCIA support"
	depends on SCSI_PCMCIA && m
	help
	  Say Y here if you intend to attach this type of PCMCIA SCSI host
	  adapter to your computer.

	  This driver is also available as a module called fdomain_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want).  If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

config PCMCIA_NINJA_SCSI
	tristate "NinjaSCSI-3 / NinjaSCSI-32Bi (16bit) PCMCIA support"
	depends on SCSI_PCMCIA && m
	help
	  If you intend to attach this type of PCMCIA SCSI host adapter to
	  your computer, say Y here and read
	  <file:Documentation/scsi/NinjaSCSI.txt>.

	  This driver is also available as a module called nsp_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want). If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

config PCMCIA_QLOGIC
	tristate "Qlogic PCMCIA support"
	depends on SCSI_PCMCIA && m
	help
	  Say Y here if you intend to attach this type of PCMCIA SCSI host
	  adapter to your computer.

	  This driver is also available as a module called qlogic_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want).  If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

config PCMCIA_SCSICARD
	bool
	depends on PCMCIA_QLOGIC=y || PCMCIA_AHA152X=y || PCMCIA_FDOMAIN=y || PCMCIA_NINJA_SCSI=y
	default y

endmenu

