#
# PCMCIA SCSI adapter configuration
#

menu "PCMCIA SCSI adapter support"
	depends on SCSI!=n && PCMCIA!=n

config PCMCIA_AHA152X
	tristate "Adaptec AHA152X PCMCIA support"
	depends on m
	help
	  Say Y here if you intend to attach this type of PCMCIA SCSI host
	  adapter to your computer.

	  This driver is also available as a module called aha152x_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want). If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

config PCMCIA_FDOMAIN
	tristate "Future Domain PCMCIA support"
	depends on m
	help
	  Say Y here if you intend to attach this type of PCMCIA SCSI host
	  adapter to your computer.

	  This driver is also available as a module called fdomain_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want).  If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

config PCMCIA_NINJA_SCSI
	tristate "NinjaSCSI-3 / NinjaSCSI-32Bi (16bit) PCMCIA support"
	depends on m
	help
	  If you intend to attach this type of PCMCIA SCSI host adapter to
	  your computer, say Y here and read
	  <file:Documentation/scsi/NinjaSCSI.txt>.

	  This driver is also available as a module called nsp_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want). If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

config PCMCIA_QLOGIC
	tristate "Qlogic PCMCIA support"
	depends on m
	help
	  Say Y here if you intend to attach this type of PCMCIA SCSI host
	  adapter to your computer.

	  This driver is also available as a module called qlogic_cs ( =
	  code which can be inserted in and removed from the running kernel
	  whenever you want).  If you want to compile it as a module, say M
	  here and read <file:Documentation/modules.txt>.

endmenu
