# LIRC http://lirc.sf.net/
# Kernel patch by Flameeyes <dgp85@users.sf.net>
# Check for new patch at http://flameeyes.web.ctonet.it
#
# Thanks to Koos Vriezen <koos.vriezen@xs4all.nl> for the Homebrew support.
# Thanks to Jeff Clark <jeff@tmtrading.com> for support when I wasn't able
# to update it and for his patch (found at http://www.clarkmania.com/~jclark/
# Thanks to Bernhard Rosenkraenzer <bero@arklinux.org> for SMP patch.
# Thanks to Vince <fuzzy77@free.fr> for the temporary lirc_atiusb driver.
# Thanks to Paul Miller <pmiller9@users.sourceforge.net> for the new working
# lirc_atiusb driver.

config LIRC_SUPPORT
	tristate "Linux InfraRed Controller"

config LIRC_MAX_DEV
	int
	depends on LIRC_SUPPORT
	default "2"

config LIRC_I2C
	tristate "I2C Driver"
	depends on LIRC_SUPPORT && VIDEO_BT848 && I2C && I2C_ALGOBIT

config LIRC_GPIO
	tristate "GPIO Driver"
	depends on LIRC_SUPPORT && VIDEO_BT848

config LIRC_PARALLEL
	tristate "Parallel Driver"
	depends on LIRC_SUPPORT && !SMP && PARPORT

config LIRC_SERIAL
	tristate "Serial Driver"
	depends on LIRC_SUPPORT && SERIAL_8250

