#
# Leedslite Cryptographic Hardware Support configuration
#

menu "IBM Crypto Hardware support"

config IBM_CRYPTO
	tristate "IBM Crypto Hardware Support"

config ICA_LEEDSLITE
	tristate "IBM Leedslite Crypto Accel. (EXPERIMENTAL)"
	depends on EXPERIMENTAL!=n && IBM_CRYPTO!=n

endmenu
