if ARCH_S3C2410

menu "S3C2410 Implementations"

config ARCH_BAST
	bool "Simtec Electronics BAST (EB2410ITX)"
	help
	  Say Y here if you are using the Simtec Electronics EB2410ITX
	  development board (also known as BAST)

	  Product page: <http://www.simtec.co.uk/products/EB2410ITX/>.

config ARCH_H1940
	bool "IPAQ H1940"
	help
	  Say Y here if you are using the HP IPAQ H1940
	  <http://www.handhelds.org/projects/h1940.html>.

config ARCH_SMDK2410
	bool "SMDK2410/A9M2410"
	help
	   Say Y here if you are using the SMDK2410 or the derived module A9M2410
           <http://www.fsforth.de>

config MACH_VR1000
	bool "Thorcom VR1000"
	help
	  Say Y here if you are using the Thorcom VR1000 board.

	  This linux port is currently being maintained by Simtec, on behalf
	  of Thorcom. Any queries, please contact Thorcom first.

endmenu

endif
