config MEGARAID_NEWGEN
	bool "LSI Logic New Generation RAID Device Drivers"
	depends on PCI && SCSI
	default y
	help
	LSI Logic RAID Device Drivers

config MEGARAID_MM
	tristate "LSI Logic Management Module (New Driver)"
	depends on PCI && SCSI && MEGARAID_NEWGEN
	default m
	help
	Management Module provides ioctl, sysfs support for LSI Logic
	RAID controllers.
	To compile this driver as a module, choose M here: the
	module will be called megaraid_mm


config MEGARAID_MAILBOX
	tristate "LSI Logic MegaRAID Driver (New Driver)"
	depends on PCI && SCSI && MEGARAID_MM
	default $MEGARAID_MM
	help
	List of supported controllers

	OEM	Product Name		Ser	VID :DID :SVID:SSID
	---	------------		---	---- ---- ---- ----
	Dell	PERC3/Di		N/A	1028:000E:1028:0123
	Dell	PERC4/SC		520	1000:1960:1028:0520
	Dell	PERC4/DC		518	1000:1960:1028:0518
	Dell	PERC4/QC		531	1000:0407:1028:0531
	Dell	PERC4/Di		N/A	1028:000F:1028:014A
	Dell	PERC 4e/Si		N/A	1028:0013:1028:016c
	Dell	PERC 4e/Di		N/A	1028:0013:1028:016d
	Dell	PERC 4e/Di		N/A	1028:0013:1028:016e
	Dell	PERC 4e/Di		N/A	1028:0013:1028:016f
	Dell	PERC 4e/Di		N/A	1028:0013:1028:0170
	Dell	PERC 4e/DC		N/A	1000:0408:1028:0002
	Dell	PERC 4e/SC		N/A	1000:0408:1028:0001

	LSI	MegaRAID SCSI 320-0	520-0	1000:1960:1000:A520
	LSI	MegaRAID SCSI 320-1	520	1000:1960:1000:0520
	LSI	MegaRAID SCSI 320-2	518	1000:1960:1000:0518
	LSI	MegaRAID SCSI 320-0X	EP055	1000:0407:1000:0530
	LSI	MegaRAID SCSI 320-2X	532	1000:0407:1000:0532
	LSI	MegaRAID SCSI 320-4X	531	1000:0407:1000:0531

	LSI	MegaRAID SCSI 320-1E	N/A	1000:0408:1000:0001
	LSI	MegaRAID SCSI 320-2E	EP078	1000:0408:1000:0002
	LSI	MegaRAID SCSI 320-4E

	LSI	MegaRAID SATA 150-2	534	1095:3112:1000:0534
	LSI	MegaRAID SATA 150-4	523	1000:1960:1000:4523
	LSI	MegaRAID SATA 150-6	523	1000:1960:1000:0523
	LSI	MegaRAID SATA 150-4X		1000:0409:1000:1504
	LSI	MegaRAID SATA 150-8X		1000:0409:1000:1508

	To compile this driver as a module, choose M here: the
	module will be called megaraid

config MEGARAID_LEGACY
	tristate "LSI Logic Legacy MegaRAID Driver"
	depends on PCI && SCSI
	default m
	help
	This driver supports the AMI MegaRAID 418, 428, 438, 466, 762, 490
	and 467 SCSI host adapters. This driver also support the all U320
	RAID controllers

	To compile this driver as a module, choose M here: the
	module will be called megaraid-old
