#
# Sensor device configuration
# All depend on EXPERIMENTAL and I2C
#

menu "I2C Hardware Sensors Chip support"

config SENSORS_ADM1021
	tristate "  Analog Devices ADM1021 and compatibles"
	depends on I2C && EXPERIMENTAL
	help
	  If you say yes here you get support for Analog Devices ADM1021 
	  and ADM1023 sensor chips and clones: Maxim MAX1617 and MAX1617A,
	  Genesys Logic GL523SM, National Semi LM84, TI THMC10,
	  and the XEON processor built-in sensor. This can also 
	  be built as a module which can be inserted and removed while the 
	  kernel is running.

	  The module will be called adm1021.
	  
	  You will also need the latest user-space utilties: you can find them
	  in the lm_sensors package, which you can download at 
	  http://www.lm-sensors.nu

config SENSORS_LM75
	tristate "  National Semiconductors LM75 and compatibles"
	depends on I2C && EXPERIMENTAL
	help
	  If you say yes here you get support for National Semiconductor LM75
	  sensor chips and clones: Dallas Semi DS75 and DS1775, TelCon
	  TCN75, and National Semi LM77. This can also be built as a module
	  which can be inserted and removed while the kernel is running.

	  The module will be called lm75.

	  You will also need the latest user-space utilties: you can find them
	  in the lm_sensors package, which you can download at 
	  http://www.lm-sensors.nu
	  
config SENSORS_VIA686A
	tristate "  VIA686A"
	depends on I2C && EXPERIMENTAL
	help
	  support for via686a
	  If you say yes here you get support for the integrated sensors in
	  Via 686A/B South Bridges. This can also be built as a module
	  which can be inserted and removed while the kernel is running.

	  You will also need the latest user-space utilties: you can find them
	  in the lm_sensors package, which you can download at
	  http://www.lm-sensors.nu

config SENSORS_W83781D
	tristate "  Winbond W83781D, W83782D, W83783S, W83627HF, Asus AS99127F"
	depends on I2C && EXPERIMENTAL
	help
	  If you say yes here you get support for the Winbond W8378x series
	  of sensor chips: the W83781D, W83782D, W83783S and W83682HF,
	  and the similar Asus AS99127F. This
	  can also be built as a module which can be inserted and removed
	  while the kernel is running.
	  
	  You will also need the latest user-space utilties: you can find them
	  in the lm_sensors package, which you can download at
	  http://www.lm-sensors.nu

config I2C_SENSOR
	tristate
	depends on SENSORS_ADM1021 || SENSORS_LM75 || SENSORS_VIA686A || SENSORS_W83781D
	default m

endmenu
