#
# I2C Sensor device configuration
#

menu "I2C Hardware Sensors Chip support"

config I2C_SENSOR
	tristate
	default n

config SENSORS_ADM1021
	tristate "Analog Devices ADM1021 and compatibles"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get support for Analog Devices ADM1021 
	  and ADM1023 sensor chips and clones: Maxim MAX1617 and MAX1617A,
	  Genesys Logic GL523SM, National Semiconductor LM84, TI THMC10,
	  and the XEON processor built-in sensor.

	  This driver can also be built as a module.  If so, the module
	  will be called adm1021.

config SENSORS_EEPROM
	tristate "EEPROM (DIMM) reader"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get read-only access to the EEPROM data
	  available on modern memory DIMMs, and which could theoretically
	  also be available on other devices.

	  This driver can also be built as a module.  If so, the module
	  will be called eeprom.

config SENSORS_IT87
	tristate "ITE IT87xx and compatibles"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get support for ITE IT87xx sensor chips
	  and clones: SiS960.

	  This driver can also be built as a module.  If so, the module
	  will be called it87.

config SENSORS_LM75
	tristate "National Semiconductor LM75 and compatibles"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get support for National Semiconductor LM75
	  sensor chips and clones: Dallas Semi DS75 and DS1775, TelCon
	  TCN75, and National Semiconductor LM77.

	  This driver can also be built as a module.  If so, the module
	  will be called lm75.

config SENSORS_LM78
	tristate "National Semiconductor LM78 and compatibles"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get support for National Semiconductor LM78,
	  LM78-J and LM79.  This can also be built as a module which can be
	  inserted and removed while the kernel is running.

	  This driver can also be built as a module.  If so, the module
	  will be called lm78.

config SENSORS_LM85
	tristate "National Semiconductor LM85 and compatibles"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get support for National Semiconductor LM85
	  sensor chips and clones: ADT7463 and ADM1027.

	  This driver can also be built as a module.  If so, the module
	  will be called lm85.

config SENSORS_VIA686A
	tristate "VIA686A"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get support for the integrated sensors in
	  Via 686A/B South Bridges.

	  This driver can also be built as a module.  If so, the module
	  will be called via686a.

config SENSORS_W83781D
	tristate "Winbond W83781D, W83782D, W83783S, W83627HF, Asus AS99127F"
	depends on I2C && EXPERIMENTAL
	select I2C_SENSOR
	help
	  If you say yes here you get support for the Winbond W8378x series
	  of sensor chips: the W83781D, W83782D, W83783S and W83682HF,
	  and the similar Asus AS99127F.
	  
	  This driver can also be built as a module.  If so, the module
	  will be called w83781d.

endmenu
